<h4>Here are your data fetched from <b>UserApi</b></h4>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@User.Name</td>
            <td>@User.LastName</td>
            <td>@User.Age</td>
        </tr>
    </tbody>
</table>


